<section id="about" class="py-10" style="background-color: #ffff;">
    <div class="container mx-auto text-center">
      <!-- Title and Description -->
      <h2 class="text-4xl font-bold mb-6">À propos de moi</h2>
      <p class="text-gray-600 text-lg max-w-3xl mx-auto mb-10">
        Je suis <span class="font-semibold">Rama</span>, développeuse fullstack passionnée par la création de solutions web modernes 
        et efficaces. J’aime concevoir des applications performantes et contribuer à des projets innovants qui allient créativité et technologie..
      </p>
  
      <!-- About Card -->
      <div class="bg-gray-100 rounded-lg shadow-lg p-6 flex flex-col md:flex-row items-center">
        <!-- Image -->
        <div class="w-32 h-32 rounded-full overflow-hidden mx-auto mb-6 md:mb-0 md:mr-6">
          <img src="assets/images/rama.jpeg" alt="Rama">
        </div>
  
        <!-- Info -->
        <div class="flex-1 text-left mb-6 md:mb-0">
          <ul class="text-gray-700 space-y-2">
            <li><span class="font-semibold">Nom : </span>Rama</li>
            <li><span class="font-semibold">Date de naissance : </span>12 Août 1999</li>
            <li><span class="font-semibold">Téléphone : </span>+221 78 470 42 92</li>
            <li><span class="font-semibold">E-mail : </span>seckrama098&#64;gmail.com</li>
            <li><span class="font-semibold">linkedin : </span> <a href="https://www.linkedin.com/in/rama-seck-996425231/" class="text-blue-600">click ici</a></li>
        </ul>
        </div>
  
        <!-- Skills -->
        <div class="flex-1">
          <h3 class="text-xl font-semibold mb-4">Compétences</h3>
          <div class="space-y-3">
            <div>
              <p class="text-sm font-medium text-gray-600 mb-1">HTML5 & CSS3</p>
              <div class="w-full bg-gray-300 rounded-full h-2">
                <div class="bg-gray-500 h-2 rounded-full" style="width: 90%;"></div>
              </div>
            </div>
             <div>
                <p class="text-sm font-medium text-gray-600 mb-1">Reactjs</p>
                <div class="w-full bg-gray-300 rounded-full h-2">
                  <div class="bg-gray-500 h-2 rounded-full" style="width: 95%;"></div>
                </div>
              </div>
               <div>
                <p class="text-sm font-medium text-gray-600 mb-1">Typescript</p>
                <div class="w-full bg-gray-300 rounded-full h-2">
                  <div class="bg-gray-500 h-2 rounded-full" style="width: 95%;"></div>
                </div>
              </div>
               <div>
                <p class="text-sm font-medium text-gray-600 mb-1">React Native</p>
                <div class="w-full bg-gray-300 rounded-full h-2">
                  <div class="bg-gray-500 h-2 rounded-full" style="width: 95%;"></div>
                </div>
              </div>
            <div>
              <p class="text-sm font-medium text-gray-600 mb-1">PHP</p>
              <div class="w-full bg-gray-300 rounded-full h-2">
                <div class="bg-gray-500 h-2 rounded-full" style="width: 82%;"></div>
              </div>
            </div>
            <div>
              <p class="text-sm font-medium text-gray-600 mb-1">Laravel</p>
              <div class="w-full bg-gray-300 rounded-full h-2">
                <div class="bg-gray-500 h-2 rounded-full" style="width: 87%;"> </div>
              </div>
            </div>
            <div>
              <p class="text-sm font-medium text-gray-600 mb-1">JavaScript</p>
              <div class="w-full bg-gray-300 rounded-full h-2">
                <div class="bg-gray-500 h-2 rounded-full" style="width: 95%;"></div>
              </div>
            </div>
           
              <div>
                <p class="text-sm font-medium text-gray-600 mb-1">Angular</p>
                <div class="w-full bg-gray-300 rounded-full h-2">
                  <div class="bg-gray-500 h-2 rounded-full" style="width: 95%;"></div>
                </div>
              </div>
              <div>
                <p class="text-sm font-medium text-gray-600 mb-1">Nodejs</p>
                <div class="w-full bg-gray-300 rounded-full h-2">
                  <div class="bg-gray-500 h-2 rounded-full" style="width: 95%;"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  