/* Exemple : ajuster la hauteur et styles supplémentaires */
#about {
    background-color: #f3f4f6; /* Couleur gris clair */
  }
  
  img {
    max-width: 100%;
    border-radius: 0.75rem; /* Bords arrondis */
  }
  