<section id="services" class="py-20 bg-gray-100">
    <div class="container mx-auto px-6">
      <!-- Section Title -->
      <h2 class="text-4xl font-bold text-center mb-4">MES SERVICES</h2>
      <p class="text-center text-gray-600 mb-10">Ce que je propose</p>
  
      <!-- Services Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Service 1 -->
        <div class="bg-white shadow-md rounded-lg p-6 text-center">
          <div class="text-4xl text-blue-500 mb-4">
            <i class="fas fa-code"></i>
          </div>
          <h3 class="text-xl font-bold mb-2">Développement d'applications web</h3>
          <p class="text-gray-600">
            Applications web interactives : Création d'applications avec des fonctionnalités dynamiques, en utilisant des frameworks comme React.js, Vue.js ou Angular.
            <br>Création d'API : Développement d'APIs avec des technologies comme Node.js (Express), PHP (Laravel), ou Python (Flask, Django), en vue d'intégration avec des applications front-end ou des services externes.          </p>
        </div>
        <!-- Service 2 -->
        <div class="bg-white shadow-md rounded-lg p-6 text-center">
          <div class="text-4xl text-green-500 mb-4">
            <i class="fas fa-cogs"></i>
          </div>
          <h3 class="text-xl font-bold mb-2">Création de blogs ou de plateformes de contenu</h3>
          <p class="text-gray-600">
            Aide à la création de blogs ou de plateformes de contenu avec des langages  comme  Html et Javascript, ou des solutions personnalisées en PHP ou Node.js.          </p>
        </div>
        <!-- Service 3 -->
      
        <!-- Service 4 -->
        <div class="bg-white shadow-md rounded-lg p-6 text-center">
          <div class="text-4xl text-yellow-500 mb-4">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <h3 class="text-xl font-bold mb-2">Responsive Design</h3>
          <p class="text-gray-600">
            Sites web adaptés à tous les appareils.
          </p>
        </div>

        <div class="bg-white shadow-md rounded-lg p-6 text-center">
            <div class="text-4xl text-pink-500 mb-4">
              <i class="fas fa-camera-retro"></i>
            </div>
            <h3 class="text-xl font-bold mb-2">Optimisation des performances et SEO</h3>
            <p class="text-gray-600">
              Optimisation de la vitesse des sites web : Amélioration des temps de chargement des pages en optimisant les images, le code JavaScript, CSS, et en mettant en place un caching efficace.
            <br>SEO (Search Engine Optimization) : Amélioration de la visibilité des sites web sur les moteurs de recherche à travers l'optimisation du contenu, des balises HTML, et de la structure du site.
  
            </p>
          </div>
        <!-- Service 5 -->
        <div class="bg-white shadow-md rounded-lg p-6 text-center">
          <div class="text-4xl text-indigo-500 mb-4">
            <i class="fas fa-thumbs-up"></i>
          </div>
          <h3 class="text-xl font-bold mb-2">Création d'API</h3>
          <p class="text-gray-600">
            Développement d'APIs avec des technologies comme Node.js (Express), PHP (Laravel), en vue d'intégration avec des applications front-end ou des services externes          </p>
        </div>
        <!-- Service 6 -->
        <div class="bg-white shadow-md rounded-lg p-6 text-center">
          <div class="text-4xl text-red-500 mb-4">
            <i class="fas fa-life-ring"></i>
          </div>
          <h3 class="text-xl font-bold mb-2">Support</h3>
          <p class="text-gray-600">
            Assistance continue pour vos projets.
          </p>
        </div>
      </div>
    </div>
  </section>
  